@keyframes dotsAnimation {
  0%{
    --size: 1px;
    --sizeTwo: 2px;
  }
  20%{
    --size: 2px;
  }
  40%{
    --sizeTwo: 3px;
  }
  60%{
    --size: 3px;
    --sizeTwo: 2px;
  }
  80%{
    --sizeTwo: 1px;
  }
  100%{
    --size: 2px;
  }
}

@keyframes textWaveAnimation {
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(12px);
  }
  100%{
    transform: translateY(0px);
  }
}
